<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style>
html {
	margin: 0px;
	padding: 0px;
}

#container {
	width: 800px;
	height: 600px;
	border: 1px solid #000;
}

img {
	border: 0px;
}

#right_picture {
	float: right;
}

#left_text {
	float: left;
	position: relative;
	width: 272px;
	top: 200px;
	left: 40px;
}

#left_bottom_logo {
	float: left;
	position: relative;
	width: 228px;
	top: 440px;
	left: 40px;
}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Amnesty International 404: Person not found</title>
</head>

<body>
<div id="container">
	<div id="left_text">
    <img src="###DIR404PAGES###/title_left.jpg" />
    </div>
    <div id="right_picture">
    <a href="http://www.amnesty.nl/"><img src="###DIR404PAGES###/amnesty404right.jpg" /></a>
    </div>
    <div id="left_bottom_logo">
    <a href="http://www.amnesty.nl/"><img src="###DIR404PAGES###/left_bottom.jpg" /></a>
    </div>
</div>
</body>
</html>